{% extends "inventory/base.html" %}
{% block content %}
  <main id="history_detail" role="main" class="container">
      <div class="row mt-4">
        <div class="col-md-12">
          <h2 id="min_table_title" class="text-left">Inventory Updates</h2>
        </div>
      </div>
      <div class="row border-solid mt-40">
        <div class="col-lg-12"
          <div class="content-section">
              <ul id="updates_feed_section" class="border-solid list-group">
                {% for updates in history %}
                    <li class="list-group-item list-group-item">
                      {{ updates.history_date }} - {{ updates.history_user }} updated {{ updates.model_brand }}
                      to...<br>Category: {{ updates.get_category_display }}<br>Equipment: {{ updates.get_equipment_display }}<br>Model/Brand: {{updates.model_brand}}<br>
                      In Stock: {{ updates.in_stock }}<br>Keep In Stock: {{ updates.keep_in_stock }}<br>Price: ${{ updates.price }}<br>
                      Relevant Link: <a onclick="window.open(this.href,'_blank');return false;" href="{{ updates.relevant_link }}">{{ updates.relevant_link }}</a>
                    </li>
                {% endfor %}
              </ul>
            </p>
          </div>
        </div>
      </main>
{% endblock content %}
